//___________________________________
//_____________ modal _______________


.modal {
    left: 0;
    right: 0;
    margin: 0 auto;

    //strong{
    //  display: block;
    //  margin-bottom: 16px;
    //}

    br{
        content: "" !important;
        display: block !important;
        margin-bottom: 16px !important;
    }

    ul{
        margin-bottom: 16px;
    }
    p {
        font-size: 20px;
        line-height: 30px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .item-career, .contacts-block{
        position: relative;
        margin-top: 48px;
        &:before{
            content: '';
            position: relative;
            width: 100%;
            height: 1px;
            margin: auto;
            background-color: $platinum;
            display: block;
            top: -24px;
        }
        &:empty{
            display: none;
        }
    }

    .item{
        pointer-events: none;
        &-img{
            position: relative;
            padding-top: 67.04%;
            width: 46.928%;
            img{
                position: absolute;
                top: 0;
            }
            @include media-max(575){
                padding-top: 140.675%;
                width: 100%;
            }
        }
    }

    .modal-dialog {
        height: 100%;
        max-width: 600px;
        margin: 0 0 0 auto;
    }

    .modal-content {
        height: inherit;
        overflow: auto;
        border: 0;
        border-radius: 0;
    }

    .modal-body {
        padding: 0 64px 64px;
    }

    .modal-header {
        padding: 64px 64px 0;
        border: none;
    }

    @include media-max(767){

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        scrollbar-color:  transparent transparent;
        scrollbar-width: auto;


        .modal-body {
            padding: 0 24px 24px;
        }
        .h-line {
            margin: 24px 0;
        }
        .modal-header {
            flex-direction: column-reverse;
            padding: 104px 24px 0;

            .modal-btn{
                display: flex;
                justify-content: center;
                position: fixed;
                z-index: 1;
                top: 0;
                width: calc(100% - 48px);
                padding: 16px 0;
                background-color: rgb(255 255 255 / 95%);
                transition: all 0.2s ease-in-out;

                .btn-close-modal{
                    background-color: white;
                }
            }

            .modal.right.fade .modal-btn{
                right: -650px;
                transition: opacity 0.3s linear, right 0.3s ease-out;
            }
            .modal.right.fade.show .modal-btn{
                right: 0;
            }
        }

    }

    &#programModal{
        .modal-header{
            @include media-min(768){
                padding: 24px 64px;
            }
            @include media-max(767){
                flex-direction: unset;
                h4{
                    margin-bottom: 24px;
                }
            }
        }

        .activities-program{
            h3{
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 24px;
                &:not(:first-child){
                    margin-top: 96px;
                }
            }
            p, span, li{
                font-size: 16px;
                line-height: 24px;
            }
            p{
                margin-bottom: 16px;
            }
            li{
                margin-left: 24px;
                &:before{
                    top: 14px;
                    left: -12px;
                    width: 2px;
                    height: 2px;
                }
            }
            .activities-result{
                margin: 24px 0;
                background-color: $cultured!important;
                padding: 48px!important;
                border: none!important;
                p {
                    strong{
                        font-size: 20px;
                        line-height: 30px;
                        @include Object-Sans-Bold;
                        color: $spanish-gray;
                        margin-bottom: 16px;
                    }
                    margin: 0;
                }

                @include media-max(767){
                    padding: 24px;
                }
            }
        }
    }

}

.modal.right.fade .modal-dialog {
    right: -650px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}
