//after and before
@import "positions";
@import "absolute";

@mixin after($position:absolute, $content: ''){
  &:after{
    position: $position;
    content: $content;
    @content;
  }
}
@mixin before($position:absolute, $content: ''){
  &:before{
    position: $position;
    content: $content;
    @content;
  }
}
